/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="file"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

/* Styles for the file list */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
    display: block;
}

ul li a:hover {
    text-decoration: underline;
}

ul li:hover {
    background-color: #f9f9f9;
}

p {
    margin-top: 20px;
    font-size: 14px;
}

.logout-link {
    color: #d9534f;
    text-decoration: none;
    font-size: 16px;
}

.logout-link:hover {
    text-decoration: underline;
}

/* Button styles */
.button {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.container-files {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    height: 60%;
    text-align: center;
}
