<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload and Download</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container-files">
        <h1>Uploaded Files in {{ current_path or 'Root' }}</h1>

        <ul style="max-height: 400px; overflow-y: scroll;">
            {% if current_path %}
                <li><a href="{{ url_for('files_ui', path=current_path.rsplit('/', 1)[0]) }}">.. (Go Back)</a></li>
            {% endif %}
            {% for file in files %}
                {% if '.' not in file %}
                    <!-- Ordner -->
                    <li><a href="{{ url_for('files_ui', path=(current_path + '/' + file).strip('/')) }}">{{ file }}/</a></li>
                {% else %}
                    <!-- Datei -->
                    <li><a href="{{ url_for('download_file', filename=(current_path + '/' + file).strip('/')) }}">{{ file }}</a></li>
                {% endif %}
            {% else %}
                <li>No files uploaded yet.</li>
            {% endfor %}
        </ul>

        <h2>Upload Files or Folders</h2>

        <!-- Button for uploading individual files -->
        <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data" id="uploadFileForm">
            <label for="fileInput">Upload Files:</label>
            <input type="file" id="fileInput" name="file" multiple>
            <input type="hidden" name="current_path" value="{{ current_path }}">
            <input type="submit" value="Upload Files">
        </form>

        <!-- Button for uploading directories -->
        <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data" id="uploadDirForm">
            <label for="dirInput">Upload Directory:</label>
            <input type="file" id="dirInput" name="file" multiple webkitdirectory>
            <input type="hidden" name="current_path" value="{{ current_path }}">
            <input type="submit" value="Upload Directory">
        </form>

        <p><a href="{{ url_for('logout') }}" class="logout-link">Logout</a></p>
    </div>
</body>
</html>
